#confirmation-section {
    padding: 20px 0;
}

.myE-confirmation-message{
    font-size: 16px;
    font-weight: 700;
    color: var(--myE-color-font-primary);
    text-align: center;
}

@media(min-width: 576px){
    .myE-confirmation-message{
        font-size: 24px;
        text-align: start;
}
}