.category-container {
  display: flex;
}

.category {
  background-color: var(--bg-category);
  border-radius: 4px;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  color: var(--category-text);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 20px;
}

#product-details {
    padding: 20px 0;
  }

.product-details-top {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.product-details-top img {
  width: 220px;
}

.product-details-bottom {
  padding: 10px 20px 20px 20px;
}

.card-bottom h3 {
  color: var(--price-color);
}

.product-details-bottom h4 {
  color: var(--text-color);
  font-size: 12px;
}

.product-details-bottom p {
  color: var(--text-color);
  font-size: 12px;
  margin: 10px 0;
}
