@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "details.css";
@import "cart.css";
@import "catalog.css";
@import "login.css";
@import "confirmation.css";
@import "product-form.css";
@import "product-listing.css";

:root {
  --myE-color-bg-primary: #e8e8e8;
  --myE-color-bg-secondary: #ffe500;
  --myE-color-bg-tertiary: #636363;

  --myE-color-card-bg: #fff;
  --myE-color-card-border: #d9d9d9;

  --myE-color-btn-primary: #3483fa;
  --myE-color-btn-inverse: #fff;

  --myE-color-font-primary: #636363;
  --myE-color-font-secondary: #0caf1d;
  --myE-color-font-tertiary: #fff;
  --myE-color-font-placeholder: #d9d9d9;

  --myE-color-error:#FF3333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--myE-color-bg-primary);
}

main{
  padding: 0 20px;
}
/* --------------------------------------------------------------- */
/* generic styles */
.myE-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.myE-mt20 {
  margin-top: 20px;
}

.myE-mb20 {
  margin-bottom: 20px;
}

.myE-section-title{
  text-align: center;
  color: var(--myE-color-font-primary);
  font-size: 16px;
}

.myE-txt-left{
  text-align: left;
}

@media(min-width: 576px){
  .myE-section-title{
    text-align: left;
    font-size: 24px;
  }
}

/* --------------------------------------------------------------- */
/* header styles */
header {
  background-color: var(--myE-color-bg-secondary);
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

nav {
  color: var(--myE-color-font-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 24px;
}

nav a {
  font-size: 14px;
  font-weight: 700;
}

.myE-logged-user{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.myE-logged-user p{
  font-size: 12px;
}

/* --------------------------------------------------------------- */
/* card styles */

.myE-card {
  border: 1px solid var(--myE-color-card-border);
  border-radius: 4px;
  background-color: var(--myE-color-card-bg);
}

.myE-line-bottom {
  border-bottom: 1px solid var(--myE-color-card-border);
}

/* --------------------------------------------------------------- */
/* button styles */

.myE-btn-container {
  width: 100%;
}

@media(min-width: 576px){
  .myE-btn-container {
    width: 220px;
  }
}


.myE-btn {
  width: 100%;
  height: 42px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myE-btn-blue {
  border: none;
  background-color: var(--myE-color-btn-primary);
  color: var(--myE-color-btn-inverse);
}

.myE-btn-white {
  border: 1px solid var(--myE-color-btn-primary);
  background-color: var(--myE-color-btn-inverse);
  color: var(--myE-color-btn-primary);
}

.myE-btn-next-page {
  border: 1px solid var(--myE-color-btn-primary);
  padding: 10px;
  border-radius: 4px;
  color: var(--myE-color-btn-primary);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

/* --------------------------------------------------------------- */
/* search bar styles */

.myE-search-bar{
  height: 40px;
  display: flex;
  color: var(--myE-color-font-primary);
  
}

.myE-search-bar button, .myE-search-bar input{
  border: 1px solid var(--myE-color-card-border);
}

.myE-search-bar input{
  border-left: none;
  border-right: none;
  width: calc(100% - 80px);
  padding: 0 10px;
  font-size: 16px;
  color: var(--myE-color-font-primary);
}

.myE-search-bar input:focus{
  outline: none;
}

.myE-search-bar input::placeholder{
  color: var(--myE-color-font-placeholder);
}

.myE-search-bar button{
  width: 40px;
  color: var(--myE-color-font-primary);
  
}

.myE-search-bar button[type="submit"]{
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.myE-search-bar button[type="reset"]{
  border-left: none;
  border-radius: 0 4px 4px 0;
}

/* --------------------------------------------------------------- */
/* form styles */

.myE-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.myE-form h2{
  font-size: 16px;
  color: var(--myE-color-font-primary);
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.myE-form-controls-container{
  display: grid;
  grid-gap: 20px;
  margin: 20px 0;
  width: 100%;
}

.myE-form-control{
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 20px;
  color: var(--myE-color-font-primary);
  border-radius: 4px;
  border: 1px solid var(--myE-color-card-border);
}

.myE-form-control:focus{
  outline: none;
}

.myE-form-control::placeholder{
  color: var(--myE-color-font-placeholder);
}

.myE-input-error{
  border: 1px solid var(--myE-color-error);
}

.myE-form-error{
  color: var(--myE-color-error);
  font-size: 12px;
  padding-left: 4px;
}

.myE-select:invalid{
  color: var(--myE-color-font-placeholder);
}

.myE-select option[disabled]{
  display: none;
}

.myE-select option{
  color: var(--myE-color-font-primary);
}

.myE-textarea{
  resize: none;
  height: 128px;
  padding-top: 10px;
}

@media(min-width: 576px){
  .myE-form h2{
    font-size: 24px;
  }
}

/* --------------------------------------------------------------- */
/* table styles */

.myE-table{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

}

.myE-table thead{
  height: 55px;
  font-size: 14px;
  background-color: var(--myE-color-card-bg);
  color: var(--myE-color-font-primary);
}

.myE-table tbody{
  text-align: center;
  font-size: 12px;
  background-color: var(--myE-color-card-bg);
  color: var(--myE-color-font-primary);
}

.myE-table tbody tr{
  height: 70px;
  border-top: 1px solid var(--myE-color-card-border);
}

.myE-table th:nth-child(2){
  border-top-left-radius: 10px;
}

.myE-table th:last-child{
  border-top-right-radius: 10px;
}

.myE-table td:nth-child(2){
  padding-left: 10px;
}

.myE-table td:last-child{
  padding-right: 5px;
}

.myE-tb576{
  display: none;
}

.myE-tb768{
  display: none;
}

@media(min-width: 576px) {
  .myE-tb576{
    display: table-cell;
  }
  .myE-table th:nth-child(1){
    padding-left: 20px;
    border-top-left-radius: 10px;
  }
  .myE-table th:nth-child(2){
    border-top-left-radius: 0;
  }
  .myE-table td:nth-child(1){
    padding-left: 20px;
  }
  .myE-table td:nth-child(2){
    padding-left: 0;
  }
  
}

@media(min-width: 768px) {
  .myE-tb768{
    display: table-cell;
  }
}

@media(min-width: 992px) {
  .myE-table tbody{
    font-size: 16px;
  }
}